*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
  --white: #fff;
  --dark: #000;
}
body{
  background-color: #fff;
}


header{
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #000;
  box-shadow: 2px 4px 20px #000;
}
header a{
  text-decoration: none;
  color: #fff;
  width: 100px;
  position: relative;
}

#addP{
  text-decoration: none;
  color: #000000;
  width: 100px;
}
#cart-account{
  background-color: #000;
  display: inline-block;
  width: 25px;
  padding: 2px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
}
#cart-account:hover{
  color: #000;
  background-color: #e4e4e4;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

nav img{
  width: 50px;
}
#seach-bar{
  display: flex;
  align-items: center;
  width: 40%;
}
#searchInput{
  background-color: #e0e0e0;
  border: none;
  width: 90%;
}


#container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.item-card{
  border-radius: 10px;
  padding: 10px;
  max-width: 700px;
  background-color: #ffffff;
}
.item-card:hover{
  transform: translateY(-10px);
  transition: 0.2s;
  box-shadow: 3px 7px 10px #000;
}

.item-card img{
  width: 350px;
  height: 440px;
}

.item-card #add-cart{
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #000;
  color: #e0e0e0;
  margin: 10px 0;
}
.btn-action{
  width: 49%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #000;
  color: #e0e0e0;
  margin: 10px 0;
}

.item-card button:hover{
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.5s;
}
.info{
  width: 330px;
  margin: 0 10px;
  text-align: justify;
}
.name{
  height: 30px;
  margin: 15px 0;
}
.description{
  height: 100px;
}
.category{
  margin: 10px 0;
  font-weight: bold;
}
.stock{
  margin: 10px 0;
  font-weight: bold;
}
.price{
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
}


footer{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 70px;
  border-top: 2px solid #000;
  box-shadow: 20px 1px 20px #000;
}


/* ------------------------- ESTILOS DEL CARRITO ------------------------- */


#item-container{
  width: 500px;
  margin: auto;
}

.card-product{
  display: flex;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
  border: 2px solid #000;
}
.card-product:hover{
  transform: translateY(-3px);
  transition: 0.6s;
  box-shadow: 3px 7px 10px #000;
}

.card-product img{
  height: 150px;
}

.card-product h3{
  width: 130px;
}
.sum,.rest{
  font-weight: bold;
  padding: 5px;
  border: none;
  background-color: #000;
  color: #ffffff;
}

#totals{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  gap: 10px;
}
#price-total, #units-total{
  font-weight: 600;
}
#totals span{
  color: #5cb81f;
}
#totals button{
  width: 50%;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #000;
  color: #e0e0e0;
  margin: 10px 0;
}
#totals button:hover{
  transform: translateY(-5px);
  transition: 0.5s;
  box-shadow: 3px 3px 10px #000;
}
#cart-empty{
  padding: 10px;
  margin: 5px;
  text-align: center;
}


.hidden{
  display: none;
  visibility: hidden;
}


/* --------------- ESTILOS DEL APARTADO PARA AGREGAR Y EDITAR PRODUCTOS --------------- */
#buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btn-add{
  margin: 30px;
  width: 200px;
  padding: 15px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: #fff;
}

#btn-add:hover{
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.2s;
}

#productModal{
  width: 55%;
  height: 150px;
  box-shadow: 0 1px 10px #000;
}

label{
  margin: 10px;
}

input{
  margin: 10px;
  text-align: center;
  border: none;
  padding: 5px;
  background-color: #e7e7e7;
  border-radius: 3px;
}

#closeProductBtn,#saveProductBtn{
  width: 100px;
  padding: 10px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: #fff;
}

/* --------------- ESTILOS DEL MEDIAQUERY --------------- */
@media(max-width:920px){
  #productModal{
    width: 75%;
  }
}
@media(max-width:768px){
  #container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  #productModal{
    width: 95%;
  }

}

@media(max-width: 480px){
    #container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    #productModal{
        text-align: center;
        padding: 0 10px;
        width: 95%;
        height: 250px;
      }
      h2{
        font-size: 20px;
        width: 100px;
        }
      input{
        width: 60%;
        margin: 7px 3px;
      }
      label{
        padding: 5px 15px;
      }
      #autor{
        font-size: 15px;
      }
      #searchInput{
        width: 300px;
        font-size: 10px;
      }
      #item-container{
        width: 450px;
      }
      #totals{
        width: 450px;
      }
}